.container {
    text-align: center;
}
.loding {
    display: flex;
    justify-content: center;
}
.loding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}